extends layout

block content
  
  h1= title
  p Welcome to #{title}

  h4 Select plants:
  <select class="multiple-select" id="must-select" data-placeholder="Choose anything" multiple>
  </select>

  //- h4 Please select the plants that you would like to have in your garden
  //- <select class="multiple-select" id="may-select" data-placeholder="Choose anything" multiple>
  //- </select>

  <div class="button-container">
  //- <div class="checkboxes">
  //- <fieldset>
  //- //- <legend>Query options:</legend>
  //- <div>
  //- <input type="checkbox" id="companion" name="companion" checked/>
  //- <label for="companion">Companion</label>
  //- </div>
  //- <div>
  //- <input type="checkbox" id="intersection" name="intersection" />
  //- <label for="intersection">Intersection</label>
  //- </div>
  //- </fieldset>
  //- </div>
  <button type='button' id='SubmitButton' class='button' data-toggle="tooltip" data-placement="bottom" title='Check whether the selected plants are companions' > Check Compatibility </button>
  <button type='button' id='QueryButton' class='button' data-toggle="tooltip" data-placement="bottom" title='Fetch an overview of all companions of the selected plants'> Explore Companions </button>
  <button type='button' id='SuggestButton' class='button' data-toggle="tooltip" data-placement="bottom" title='Suggest a placement for the selected plants where distance between companion plants is minimized, and between incompatile plants is maximized'>BETA: Suggest Placement </button>
  </div>

  <div id="loading" style="width: 100%; text-align: center"></div>
  <table id='ResultTable' class='table'></table>
  <div id="graphcontainer" style="width: 100%; height: 600px;"></div>

