extends layout

block content
  h1= title
  p Welcome to #{title}
  <select class="form-select" id="multiple-select-field" data-placeholder="Choose anything" multiple>
  <option>Carrot</option>
  <option>Zuccini</option>
  <option>Strawberry</option>
  <option>Blue Berry</option>
  <option>Apple</option>
  <option>Patatoe</option>
  <option>Cabbage</option>
  <option>Leek</option>
  <option>Basil</option>
  <option>Thyme</option>
  <option>Cherry Tomatoe</option>
  <option>Heirloom Tomatoe</option>
  <option>Tomatoe</option>
  <option>Legume</option>
  <option>Yellow Mustard</option>
  <option>Rye</option>
  <option>Barley</option>
  <option>Pear</option>
  <option>Lentils</option>
  <option>Pumpkin</option>
  </select>
